{% extends 'layout/team.twig' %}

{% block main %}

<h3>入部リクエストの処理</h3>

以下のユーザーから、チームへの加入リクエストが届いています。

<ul>
<li>{{ user.username }}
<li>{{ user.email }}
</ul>

チームへ加入させますか？

<form class="form" method="GET">
<input type="hidden" name="u" value="{{input_get('u')}}">
<input type="hidden" name="t" value="{{input_get('t')}}">
<input type="hidden" name="c" value="{{input_get('c')}}">
<input type="submit" class="btn btn-success" name="accept" value="はい">
<input type="submit" class="btn btn-default" name="reject" value="いいえ">
</form>

{% endblock main %}
