{# meta info #}
{% macro meta(player_id, index, loop_last) %}
<td class="member-id disable">{{player_id|default(0)}}</td>
<td class="daseki-number disable">{{index}}</td>

<td class="button" colspan="3">

<button class="{%if not loop_last%}disable{%endif%} btn btn-info btn-xs add" onClick="add_daseki(this, {{index}});">追加</button>
<button class="{%if not loop_last%}disable{%endif%} btn btn-danger btn-xs delete" onClick="delete_daseki(this, {{index}});">削除</button>
</td>

<th class="daseki-number-text">第{{index}}打席</th>
{% endmacro %}

{# 結果 #}
{% macro result(results, val) %}
<td colspan="3">
<select class="result" onChange="batter_result_update();">
<option value="0">--</option>
{% for res in results %}
<option value="{{res.id}}" {%if res.id == val%}selected{%endif%}>{{res.result}}</option>
{% endfor %}
</select>
</td>
{% endmacro %}

{# 種類 #}
{% macro kind(val) %}
<td colspan="3">
<select class="kind">
<option value="0">--</option>
<option value="1" {%if 1 == val%}selected{%endif%}>ゴロ</option>
<option value="2" {%if 2 == val%}selected{%endif%}>ライナー</option>
<option value="3" {%if 3 == val%}selected{%endif%}>フライ</option>
</select>
</td>
{% endmacro %}

{# 方向 #}
{% macro direction(val) %}
<td colspan="3">
<select class="direction">
<option value="0">--</option>
{% for i in 1..9 %}
<option value="{{i}}" {%if i == val%}selected{%endif%}>{{i}}</option>
{% endfor %}
</select>
</td>
{% endmacro %}
