{% extends "layout.twig" %}

{% block content %}

{% import 'game-nav.twig' as nav %}
{{ nav.navigation() }}

<table class="table">
<thead>
<tr>
<th class="member-id disable">member_id</th>
<th class="order">打順</th>
<th class="name">名前</th>
<th class="number">＃</th>
<th class="detail"></th>
<th>打席数</th>
<th>打数</th>
<th>安打</th>
<th>二塁打</th>
<th>三塁打</th>
<th>本塁打</th>
<th>三振</th>
<th>四球</th>
<th>死球</th>
<th>犠打</th>
<th>犠飛</th>
<th>打点</th>
<th>得点</th>
<th>盗塁</th>
<th>エラー</th>
</thead>

{% for batter in players %}
<tr class="result">
<td class="member-id disable">{{batter.member_id}}</td>
<td class="order">{{batter.order}}</td>
<td class="name">{{batter.name}}</td>
<td class="number">{{batter.number}}</td>
<td class="detail">
<button class="btn btn-info btn-sm" onclick="toggle_detail({{loop.index}});">
打席詳細入力
</button>
</td>
<td class="daseki"></td>
<td class="dasuu"></td>
<td class="anda"></td>
<td class="niruida"></td>
<td class="sanruida"></td>
<td class="honruida"></td>
<td class="sanshin"></td>
<td class="yontama"></td>
<td class="shikyuu"></td>
<td class="gida"></td>
<td class="gihi"></td>
<td class="daten"><input type="number" class="form-control"></td>
<td class="tokuten"><input type="number" class="form-control"></td>
<td class="steal"><input type="number" class="form-control"></td>
<td class="error"><input type="number" class="form-control"></td>
</tr>

<tr class="disable detail detail-{{loop.index}}">
<th colspan="4"></th>
<th colspan="3">方向</th>
<th colspan="3">種類</th>
<th colspan="3">結果</th>
<th colspan="6"></th>
</tr>

<tr class="result disable detail detail-{{loop.index}}">

<td class="member-id disable">{{batter.member_id}}</td>
<td class="daseki-number disable">1</td>

<td class="button" colspan="3">
<button class="btn btn-info btn-xs add" onClick="add_daseki(this, 1);">追加</button>
<button class="btn btn-danger btn-xs delete">削除</button>
</td>

<th class="daseki-number-text">第1打席</th>

{# 方向 #}
<td colspan="3">
<select class="direction">
<option value="0">--</option>
{% for i in 1..9 %}
<option>{{i}}</option>
{% endfor %}
</select>
</td>

{# 種類 #}
<td colspan="3">
<select class="kind">
<option value="0">--</option>
<option>ゴロ</option>
<option>ライナー</option>
<option>フライ</option>
</select>
</td>

{# 結果 #}
<td colspan="3">
<select class="result">
<option value="0">--</option>
<option>凡打</option>
<option>ヒット</option>
<option>三塁打</option>
</select>
</td>

{# 残り #}
<td colspan="6"></td>

</tr>


{% endfor %}
</table>

<button class="btn btn-success" onClick="post_batter();">登録</button>


{% endblock content %}

{% block js %}
{{ parent() }}
{% include 'game-js.twig' %}
{% endblock %}
