{% extends "layout.twig" %}

{% block content %}

{% import 'game-nav.twig' as nav %}
{{ nav.navigation() }}

<table class="table">
<thead>
<tr>
<th class="member-id disable">member_id</th>
<th class="order">打順</th>
<th class="name">名前</th>
<th class="number">＃</th>
<th class="detail"></th>
<th>打席数</th>
<th>打数</th>
<th>安打</th>
<th>二塁打</th>
<th>三塁打</th>
<th>本塁打</th>
<th>三振</th>
<th>四球</th>
<th>死球</th>
<th>犠打</th>
<th>犠飛</th>
<th>打点</th>
<th>得点</th>
<th>盗塁</th>
<th>エラー</th>
</thead>

{% for batter in players %}
<tr class="result">
<td class="member-id disable">{{batter.member_id}}</td>
<td class="order">{{batter.order}}</td>
<td class="name">{{batter.name}}</td>
<td class="number">{{batter.number}}</td>
<td class="detail">
<button class="btn btn-info btn-sm" onclick="toggle_detail({{loop.index}});">
打席詳細入力
</button>
</td>

{% set seiseki = batters[batter.member_id].seiseki %}
{% set detail  = batters[batter.member_id].detail  %}

<td class="daseki">{{seiseki.daseki}}</td>
<td class="dasuu">{{seiseki.dasuu}}</td>
<td class="anda">{{seiseki.anda}}</td>
<td class="niruida">{{seiseki.niruida}}</td>
<td class="sanruida">{{seiseki.sanruida}}</td>
<td class="honruida">{{seiseki.honruida}}</td>
<td class="sanshin">{{seiseki.sanshin}}</td>
<td class="yontama">{{seiseki.yontama}}</td>
<td class="shikyuu">{{seiseki.shikyuu}}</td>
<td class="gida">{{seiseki.gida}}</td>
<td class="gihi">{{seiseki.gihi}}</td>
<td class="daten"><input type="number" class="form-control" value="{{seiseki.daten}}" min="0"></td>
<td class="tokuten"><input type="number" class="form-control" value="{{seiseki.tokuten}}" min="0"></td>
<td class="steal"><input type="number" class="form-control" value="{{seiseki.steal}}" min="0"></td>
<td class="error"><input type="number" class="form-control" value="{{seiseki.error}}" min="0"></td>
</tr>

<tr class="disable detail detail-{{loop.index}}">
<th colspan="4"></th>
<th colspan="3">方向</th>
<th colspan="3">種類</th>
<th colspan="3">結果</th>
<th colspan="6"></th>
</tr>

{# 打席詳細の中身 #}
{% import 'batter-detail-macro.twig' as detail_macro %}

{# 打席情報がなければ #}
{% if detail|length == 0 %}
<tr class="result disable detail detail-{{loop.index}}">
{{ detail_macro.meta(batter.member_id, 1, true) }}
{{ detail_macro.direction(0) }}
{{ detail_macro.kind(0) }}
{{ detail_macro.result(results, 0) }}
<td colspan="6"></td>
</tr>
{% else %}
  {# 打席情報があればループ #}
  {% for d in detail %}
  <tr class="result disable detail detail-{{loop.parent.loop.index}}">
  {{ detail_macro.meta(batter.member_id, loop.index, loop.last) }}
  {{ detail_macro.direction(d.direction) }}
  {{ detail_macro.kind(d.kind) }}
  {{ detail_macro.result(results, d.result) }}
  <td colspan="6"></td>
  </tr>
  {% endfor %}

{% endif %}

{% endfor %}
</table>

<button class="btn btn-success" onClick="post_batter();">登録</button>


{% endblock content %}

{% block js %}
{{ parent() }}
{% include 'game-js.twig' %}
{% endblock %}
