{% extends "layout.twig" %}

{% block content %}

{% import 'game-nav.twig' as nav %}
{{ nav.navigation() }}

<table class="table">
<thead>
<tr>
<th class="order">打順</th>
<th class="name">名前</th>
<th class="number">＃</th>
<th class="name">エラー</th>
<th class="name">盗塁</th>
<th class="name">打点</th>
<th>第一打席</th>
</thead>

{% for batter in players %}
<tr>
<td class="order">{{batter.order}}</td>
<td class="name">{{batter.name}}</td>
<td class="number">{{batter.number}}</td>
<td><input type="number"></td>
<td><input type="number"></td>
<td><input type="number"></td>
<td>
<select>
<option>--</option>
{% for i in 1..9 %}
<option>{{i}}</option>
{% endfor %}
</select>
<select>
<option>--</option>
<option>ゴロ</option>
<option>ライナー</option>
<option>フライ</option>
</select>
<select>
<option>--</option>
<option>凡打</option>
<option>ヒット</option>
<option>三塁打</option>
</select></td>
</tr>
{% endfor %}


</table>

<button class="btn btn-success" onClick="alert('atode');">登録</button>


{% endblock content %}

{% block js %}
{{ parent() }}
{% include 'game-js.twig' %}
{% endblock %}
