{% extends "layout.twig" %}

{% block content %}

{% import 'game-nav.twig' as nav %}
{{ nav.navigation() }}

<table class="table">
<thead>
<tr>
<th class="order">打順</th>
<th class="name">名前</th>
<th class="number">＃</th>
<th>打席数</th>
<th>打数</th>
<th class="error">エラー</th>
<th class="steal">盗塁</th>
<th class="daten">打点</th>
<th class="daseki">打席</th>
</thead>

{% for batter in players %}
<tr>
<td class="order">{{batter.order}}</td>
<td class="name">{{batter.name}}</td>
<td class="number">{{batter.number}}</td>
<td><input type="number" class="form-control"></td>
<td><input type="number" class="form-control"></td>
<td><input type="number" class="form-control"></td>
<td>
<button class="btn btn-info btn-sm" onclick="toggle_detail({{batter.member_id}});">詳細入力</button>
</td>
</tr>

<tr>
<td colspan="5" class="disable detail-{{batter.member_id}}">
{% for i in 1..4 %}
<h4>第{{i}}打席</h4>
打球方向
<select>
<option>--</option>
{% for i in 1..9 %}
<option>{{i}}</option>
{% endfor %}
</select>
打球の種類
<select>
<option>--</option>
<option>ゴロ</option>
<option>ライナー</option>
<option>フライ</option>
</select>
結果
<select>
<option>--</option>
<option>凡打</option>
<option>ヒット</option>
<option>三塁打</option>
</select>
<br>

{% endfor %}
</td>
</tr>
{% endfor %}


</table>

<button class="btn btn-success" onClick="alert('atode');">登録</button>


{% endblock content %}

{% block js %}
{{ parent() }}
{% include 'game-js.twig' %}
{% endblock %}
