{% extends "layout/game/edit.twig" %}

{% block content %}

{# header #}
{{ parent() }}

<table id="batter" class="table">
<thead>
<tr>
<th class="member-id disable">member_id</th>
<th class="order">打順</th>
<th class="name">名前</th>
<th class="number">＃</th>
<th class="detail"><button class="btn btn-default btn-xs" onClick="toggle_detail('all');">全て開く/閉じる</button></th>
<th>打席数</th>
<th>打数</th>
<th>安打</th>
<th>二塁打</th>
<th>三塁打</th>
<th>本塁打</th>
<th>三振</th>
<th>四球</th>
<th>死球</th>
<th>犠打</th>
<th>犠飛</th>
<th>打点</th>
<th>得点</th>
<th>盗塁</th>
<th>エラー</th>
</thead>

{% for batter in metum %}
<tr class="result result-{{loop.index}}">
<td class="member-id disable">{{batter.player_id|default(0)}}</td>
<td class="order">{%if batter.order != 0%}{{batter.order}}{%endif%}</td>
<td class="name">{{batter.name}}</td>
<td class="number">{{batter.number}}</td>
{%if batter.number == '' %}
<td class="detail"></td>
{%else%}
<td class="detail">
<button class="btn btn-info btn-sm" onclick="toggle_detail({{loop.index}});">
打席詳細入力
</button>
</td>
{%endif%}

{% set hitting = hittings[batter.player_id] %}
{% set detail  = details[batter.player_id]  %}

<td class="seiseki daseki">{{hitting.TPA}}</td>
<td class="seiseki dasuu">{{hitting.AB}}</td>
<td class="seiseki anda">{{hitting.H}}</td>
<td class="seiseki niruida">{{hitting['2B']}}</td>
<td class="seiseki sanruida">{{hitting['3B']}}</td>
<td class="seiseki honruida">{{hitting.HR}}</td>
<td class="seiseki sanshin">{{hitting.SO}}</td>
<td class="seiseki yontama">{{hitting.BB}}</td>
<td class="seiseki shikyuu">{{hitting.HBP}}</td>
<td class="seiseki gida">{{hitting.SAC}}</td>
<td class="seiseki gihi">{{hitting.SF}}</td>

<td class="daten"><input type="number" value="{{hitting.RBI}}" onMousedown="eraseTA(this)" min="0"></td>
<td class="tokuten"><input type="number" class="" value="{{hitting.R}}" onMousedown="eraseTA(this)" min="0"></td>
<td class="steal"><input type="number" class="" value="{{hitting.SB}}" onMousedown="eraseTA(this)" min="0"></td>
<td class="error"><input type="number" class="" value="{{fieldings[batter.player_id].E}}" onMousedown="eraseTA(this)" min="0"></td>
</tr>


{%if batter.number != '' %}
<tr class="disable detail detail-{{loop.index}}">
<th colspan="4"></th>
<th colspan="3">方向</th>
<th colspan="3">種類</th>
<th colspan="3">結果</th>
<th colspan="6"></th>
</tr>

{# 打席詳細の中身 #}
{% import 'batter-detail-macro.twig' as detail_macro %}

{# 打席情報がなければ #}
{% if detail|length == 0 %}
<tr class="result disable detail detail-{{loop.index}}">
{{ detail_macro.meta(batter.player_id, 1, true) }}
{{ detail_macro.direction(0) }}
{{ detail_macro.kind(0) }}
{{ detail_macro.result(results, 0) }}
<td colspan="6"></td>
</tr>
{% else %}
  {# 打席情報があればループ #}
  {% for d in detail %}
  <tr class="result disable detail detail-{{loop.parent.loop.index}}">
  {{ detail_macro.meta(batter.player_id, loop.index, loop.last) }}
  {{ detail_macro.direction(d.direction) }}
  {{ detail_macro.kind(d.kind) }}
  {{ detail_macro.result(results, d.result_id) }}
  <td colspan="6"></td>
  </tr>
  {% endfor %}

{% endif %}
{%endif%}{#if batter.number != '' #}

{% endfor %}
</table>

<button class="btn btn-default" onClick="post_batter(true);">保存</button>
<button class="btn btn-success" onClick="post_batter(true, true);">决定</button>


{% endblock content %}

{% block js %}

{{ parent() }}

<script>
$(document).ready(function() {
    setTimeout("autosave('batter');", 30000);
});
</script>
{% endblock %}
