{% extends "layout.twig" %}


{% set name_select %}
<select class="select2">
<option>--------------------</option>
{% for member in members %}
<option>{{member.name}}</option>
{% endfor %}
</select>
{% endset %}


{% set position_select %}
<select>
<option>--</option>
{% for position in range(1,9) %}
<option>{{position}}</option>
{% endfor %}
<option>D</option>
<option>H</option>
<option>R</option>
</select>
{% endset %}


{% block content %}

<ul id="mytab" class="nav nav-tabs">
    <!-- hrefにdiv.tab-paneと一緒に指定するIDを -->
    <li class="active"><a href="#starting-member" data-toggle="tab">スタメン</a></li>
    <li class=""><a href="#pitcher" data-toggle="tab">投手成績</a></li>
    <li class=""><a href="#fielder" data-toggle="tab">野手成績</a></li>
</ul>

<div class="tab-content">

<div class="tab-pane active" id="starting-member">

<form class="form" action="#" method="POST">

<table class="table">

<tr>
<th class="order">打順</th>
<th class="name">名前</th>
<th class="position">ポジション1</th>
<th class="position">ポジション2</th>
<th class="position">ポジション3</th>
<th class="position">ポジション4</th>
<th class="position">ポジション5</th>
<th class="position">ポジション6</th>
</tr>

{% for stamen in stamens %}
<tr>
<td class="order">{{stamen.order}}</td>
<td>{{name_select}}</td>
<td>{{position_select}}</td>
<td>{{position_select}}</td>
<td>{{position_select}}</td>
<td>{{position_select}}</td>
<td>{{position_select}}</td>
<td>{{position_select}}</td>
</tr>
{% endfor %}


</table>

<input type="submit" class="btn btn-success" value="登録">
</form>

</div>

<div class="tab-pane" id="pitcher">
</div>

<div class="tab-pane" id="fielder">

<form class="form" action="#" method="POST">

<table class="table">

<tr>
<th>打順</th>
<th>名前</th>
<th>ポジション</th>

<th>内野ゴロ</th>
<th>内野フライ</th>
<th>外野フライ</th>

<th>四球</th>
<th>死球</th>
<th>犠打</th>
<th>打撃妨害</th>

<th>ヒット</th>
<th>二塁打</th>
<th>三塁打</th>
<th>本塁打</th>

<th>打点</th>
<th>得点</th>
<th>盗塁</th>

</tr>

<tr>
<td>4</td>
<td><input type="text" class="form-control input-sm"></td>
<td><input type="text" class="form-control input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
</tr>

</table>

<input type="submit" class="btn btn-success" value="登録">
</form>

</div>

</div>

{% endblock %}



{% block css %}
{{ parent() }}
<link href="/bootstrap_formhelpers/css/bootstrap-formhelpers.css" rel="stylesheet">
<link href="/select2/select2.css" rel="stylesheet">
<link href="/css/bms.css" rel="stylesheet">
{% endblock %}

{% block js %}
{{ parent() }}
<script src="/select2/select2.min.js"></script>

<script>
function add_bfh_number() {
    // add bfh-number
    $('table td input').each(function() {
        var $number = $(this);

        $number.addClass("bfh-number");

        var $span = $number.parent().find('span');
        if ( $span[0] ) {
            $span.show();
        }
        else {
            $number.bfhnumber($number.data());
        }
    })
}

function delete_bfh_number() {
    // delete bfh-number
    $('input.bfh-number').each(function() {
        var $number = $(this);

        $number.removeClass('bfh-number');
        $number.parent().find('span').hide();
    });
}

$(document).ready(function() {
  $('.select2').select2();
});

</script>
{% endblock %}
