{% macro header(date, team_top, team_bottom) %}

<h3>{{date}} {{team_top}}<small>先攻</small> vs {{team_bottom}}<small>後攻</small></h3>
<h4>
<p class="text-right">
<small class="autosave text-success">
<span class="disable">30秒ごとに自動保存を行います...</span>
</small>
</p>
</h4>

{% endmacro %}


{% macro navigation() %}

{% set base = '/game/' ~ uri_segment(2) ~ '/' ~ uri_segment(3) %}

<ul class="nav nav-tabs">
    <li {%if uri_segment(4)=='player'%}class="active"{%endif%}>
      <a href="{{base}}/player">出場選手</a>
    </li>
    <li {%if uri_segment(4)=='pitcher'%}class="active"{%endif%}>
      <a href="{{base}}/pitcher">投手成績</a>
    </li>
    <li {%if uri_segment(4)=="batter"%}class="active"{%endif%}>
      <a href="{{base}}/batter">野手成績</a>
    </li>
    <li {%if uri_segment(4)=="other"%}class="active"{%endif%}>
      <a href="{{base}}/other">その他</a>
    </li>

    {# return game/list #}
    <li class="navbar-right">
      <a href="/game" class="btn btn-info btn-xs">試合一覧へ戻る</a>
    </li>
</ul>

<data id="game_id" class="disable">{{uri_segment(2)}}</data>
<data id="order" class="disable">{{uri_segment(3)}}</data>

{% endmacro %}
