{% extends "layout/layout.twig" %}

{% block li_game %}
<li class="active">
{% endblock %}

{% block content %}

<div class="row">

<div class="col-md-3">
{%if auth_check()%}
<h3>新規ゲーム追加</h3>
{{ form }}
{%else%}
新規ゲームを追加する場合はログインしてください。
{%endif%}
</div>

<div class="col-md-9">

<form class="form form-inline" onsubmit="return false;">
<div class="form-group">
<input id="search" class="form-control" type="text" placeholder="検索">
</div>

<div class="form-group">
<div class="btn-group">
<button type="button" class="btn btn-default" onClick="filter('all');">全試合</button>
<button type="button" class="btn btn-default" onClick="filter('own');">MyTeam</button>
</div>
</div>

</form>

<table id="game-list" class="table table-hover">
<thead>
<tr>
    <th>実施日</th>
    <th>先攻</th>
    <th>スコア</th>
    <th>後攻</th>
    <th></th>
</tr>
</thead>

<tbody>

{% for game in games %}
<tr class="{%if game.own == 1%}own{%endif%}">
<td>{{ game.date }}</td>
<td>
<div>{{ game.team_top_name }}</div>
<a href="/game/{{game.id}}/top/player" class="btn btn-info btn-xs">成績入力</a>
</td>
<td><a href="/game/{{game.id}}/top/score">{{game.tsum}} - {{game.bsum}}</a></td>
<td>
<div>{{ game.team_bottom_name }}</div>
<a href="/game/{{game.id}}/bottom/player" class="btn btn-info btn-xs">成績入力</a>
</td>
<td>
  <input type="hidden" name="id" value="{{game.id}}">
  <input type="submit" class="btn btn-warning" onClick="changeGameStatus({{game.id}}, 0);" value="無効">
</td>
</tr>
{% endfor %}

</tbody>
</table>

</div>

</div>

{% endblock %}


{% block js %}
{{ parent() }}
<script>
function changeGameStatus(id, status) {
  if ( window.confirm("無効試合としてよいですか？") ) {
    
    $.ajax({
      type: 'POST',
      url: '/api/game/updateStatus',
      data: {
        id: id,
        status: status
      },
      success: function() {
        location.reload();
      },
      error: function() {
        alert("失敗しました");
      }
    });
  }
}

$(document).ready(function() {
  $('input.form-datepicker').each(function() {
    $(this).datepicker();
  });
});

// search
$("#search").keyup(function(){

  if ( ! $(this).val()) {
    $("#game-list tbody tr").show();
  }
  else {
    $("#game-list tbody tr").hide();
    $("#game-list tbody tr:contains(" + this.value + ")").show();
  }
});

// filter
function filter(type) {
  if ( type === 'all' ) {
    $("#game-list tbody tr").show();
  }
  else if ( type === 'own' ) {
    $("#game-list tbody tr").hide();
    $("#game-list tbody tr.own").show();
  }
}

</script>
{% endblock %}
