{% extends "layout/layout.twig" %}

{% block li_game %}
<li class="active">
{% endblock %}

{% block content %}

<div class="row">

<div class="col-md-3">
{%if auth_has_access('game.create')%}
<h3>新規ゲーム追加</h3>
{{ form }}
{%else%}
{%if auth_check()%}
新規ゲームを追加できる権限をもっていません。
{%else%}
新規ゲームを追加する場合は<a href="/login?url=/game">ログイン</a>してください。
{%endif%}
{%endif%}
</div>

<div class="col-md-9">

<form class="form form-inline" onsubmit="return false;">
<div class="form-group">
<input id="search" class="form-control" type="text" placeholder="検索">
</div>

<div class="form-group">
<div class="btn-group">
<button type="button" class="btn btn-default" onClick="filter('all');">全試合</button>
<button type="button" class="btn btn-default" onClick="filter('own');">MyTeam</button>
<button type="button" class="btn btn-default" onClick="filter('win');">勝ち</button>
<button type="button" class="btn btn-default" onClick="filter('lose');">負け</button>
<button type="button" class="btn btn-default" onClick="filter('play');">出場した試合</button>
</div>
</div>

</form>

<table id="game-list" class="table table-hover">
<thead>
<tr>
    <th></th>
    <th>実施日</th>
    <th>先攻</th>
    <th>スコア</th>
    <th>後攻</th>
{%if auth_check() %}
    <th>成績入力</th>
{%endif%}
{%if auth_has_access('game.status')%}
    <th>ステータス</th>
{%endif%}
</tr>
</thead>

<tbody>

{% for game in games if game.status != -1%}

<tr class="{%if game.own %}own{%endif%} {{game.result}}" {%if game.play%}play="true"{%endif%}>

<td>{%if game.play%}(出場){%endif%}</td>
<td>{{ game.date }}</td>

{# 先攻 #}
<td>
<div>{{ game.team_top_name }}</div>
{%if auth_has_access('admin.admin') and
     game.team_top != 0 and
     game.status != 2 %}
<a href="/game/{{game.id}}/batter/{{game.team_top}}" class="btn btn-info btn-xs">成績入力</a>
{%endif%}
</td>

{# 得点 #}
<td><a href="/game/{{game.id}}/score">{{game.top_result}} {{game.tsum}} - {{game.bsum}} {{game.bottom_result}}</a></td>

{# 後攻 #}
<td>
<div>{{ game.team_bottom_name }}</div>
{%if auth_has_access('admin.admin') and
     game.team_bottom != 0 and
     game.status != 2 %}
<a href="/game/{{game.id}}/batter/{{game.team_bottom}}" class="btn btn-info btn-xs">成績入力</a>
{%endif%}
</td>

{# 成績入力#}
<td>
{%if game.own%}
{%if game.status == 2%}
<span class="glyphicon glyphicon-ok">入力完了</span>
{%else%}
{%if game.play%}
<a href="/game/{{game.id}}/batter/" class="btn btn-info">成績入力</a>
{%endif%}
{%endif%}{# if game.status == 2 #}
{%endif%}{# if game.own #}
</td>

{# ステータス #}
{%if auth_has_access('game.status') and game.own%}
<td>
<select name="status" class="form-control" onChange="changeGameStatus(this, {{game.id}}, {{team_id}});">
<option value="0" {%if game.status == 0%}selected{%endif%}>試合登録のみ</option>
<option value="1" {%if game.status == 1%}selected{%endif%}>成績入力中</option>
<option value="2" {%if game.status == 2%}selected{%endif%}>成績入力完了</option>
</select>
</td>
{%endif%}

{# 無効 #}
{%if auth_has_access('game.status') and game.own%}
<td>
<button class="btn btn-warning" onClick="changeGameStatus(-1, {{game.id}}, {{team_id}});">無効</button>
</td>
{%endif%}

</tr>
{% endfor %}

</tbody>
</table>

</div>

</div>

{% endblock %}


{% block js %}
{{ parent() }}
<script type="text/javascript" src="/js/game/list.js"></script>
{% endblock %}
