{% extends "layout/layout.twig" %}

{% block li_game %}
<li class="active">
{% endblock %}

{% block content %}

<div class="row">

<div class="col-md-3">
<h3>新規ゲーム追加</h3>
{{ form }}
</div>

<div class="col-md-9">

<table class="table table-hover">
<thead>
<tr>
    <th>実施日</th>
    <th>先攻</th>
    <th>スコア</th>
    <th>後攻</th>
    <th></th>
</tr>
</thead>

<tbody>

{% for game in games %}
<tr>
<td>{{ game.date }}</td>
<td>
<div>{{ game.team_top_name }}</div>
<a href="/game/edit/{{game.id}}/{{game.team_top}}/player" class="btn btn-info btn-xs">成績入力</a>
</td>
<td><a href="/game/score?id={{game.id}}">{{game.tsum}} - {{game.bsum}}</a></td>
<td>
<div>{{ game.team_bottom_name }}</div>
<a href="/game/edit/{{game.id}}/{{game.team_bottom}}/player" class="btn btn-info btn-xs">成績入力</a>
</td>
<td>
  <input type="hidden" name="id" value="{{game.id}}">
  <input type="submit" class="btn btn-warning" onClick="changeGameStatus({{game.id}}, 0);" value="無効">
</td>
</tr>
{% endfor %}

</tbody>
</table>

</div>

</div>

{% endblock %}


{% block js %}
{{ parent() }}
<script>
function changeGameStatus(id, status) {
  if ( window.confirm("無効試合としてよいですか？") ) {
    
    $.ajax({
      type: 'POST',
      url: '/game/status',
      data: {
        id: id,
        status: status
      },
      success: function() {
        location.reload();
      },
      error: function() {
        alert("失敗しました");
      }
    });
  }
}

$(document).ready(function() {
  $('input.form-datepicker').each(function() {
    $(this).datepicker();
  });
});
</script>
{% endblock %}
