{% extends "layout/layout.twig" %}

{% block li_game %}
<li class="active">
{% endblock %}

{% block content %}

<div class="row">

<div class="col-md-3">
{%if auth_has_access('game.create')%}
<h3>新規ゲーム追加</h3>
{{ form }}
{%else%}
{%if auth_check()%}
新規ゲームを追加できる権限をもっていません。
{%else%}
新規ゲームを追加する場合は<a href="/login?url=/game">ログイン</a>してください。
{%endif%}
{%endif%}
</div>

<div class="col-md-9">

<form class="form form-inline" onsubmit="return false;">
<div class="form-group">
<input id="search" class="form-control" type="text" placeholder="検索">
</div>

<div class="form-group">
<div class="btn-group">
<button type="button" class="btn btn-default" onClick="filter('all');">全試合</button>
<button type="button" class="btn btn-default" onClick="filter('own');">MyTeam</button>
<button type="button" class="btn btn-default" onClick="filter('win');">勝ち</button>
<button type="button" class="btn btn-default" onClick="filter('lose');">負け</button>
</div>
</div>

</form>

<table id="game-list" class="table table-hover">
<thead>
<tr>
    <th>実施日</th>
    <th>先攻</th>
    <th>スコア</th>
    <th>後攻</th>
    <th>試合概要</th>
{%if auth_check() %}
    <th>成績入力</th>
{%endif%}
{%if auth_has_access('game.status')%}
    <th>ステータス</th>
{%endif%}
</tr>
</thead>

<tbody>

{% for game in games %}
<tr class="{%if game.own != '0'%}own{%endif%} {{game.result}}">
<td>{{ game.date }}</td>

{# 先攻 #}
<td>
<div>{{ game.team_top_name }}</div>
{%if game.team_top != 0 and auth_has_access('admin.admin') %}
<a href="/game/{{game.id}}/player/{{game.team_top}}" class="btn btn-info btn-xs">成績入力</a>
{%endif%}
</td>

{# 得点 #}
<td><a href="/game/{{game.id}}/score">{{game.top_result}} {{game.tsum}} - {{game.bsum}} {{game.bottom_result}}</a></td>

{# 後攻 #}
<td>
<div>{{ game.team_bottom_name }}</div>
{%if game.team_bottom != 0 and auth_has_access('admin.admin') %}
<a href="/game/{{game.id}}/player/{{game.team_bottom}}" class="btn btn-info btn-xs">成績入力</a>
{%endif%}
</td>

{# 試合概要 #}
<td>
<a href="/game/{{game.id}}" class="btn btn-info">概要</a>
</td>

{# 成績入力#}
<td>
{%if game.own != '0'%}
<a href="/game/{{game.id}}/player/" class="btn btn-info">成績入力</a>
{%endif%}
</td>

{# ステータス #}
{%if auth_has_access('game.status') and game.own != '0'%}
<td>
<select name="status" class="form-control" onChange="changeGameStatus(this, {{game.id}});">
<option value="0">試合登録完了</option>
<option value="1">成績入力中</option>
<option value="2">成績入力完了</option>
{%if auth_has_access('game.ban') %}
<option value="-1">無効</option>
{%endif%}
</select>
</td>
{%endif%}
</tr>
{% endfor %}

</tbody>
</table>

</div>

</div>

{% endblock %}


{% block js %}

{{ parent() }}

<script>
function change_topbottom() {
}

// status update
function changeGameStatus(self, id) {
  var status = $(self).val();

  if ( window.confirm("無効試合としてよいですか？") ) {
    
    $.ajax({
      type: 'POST',
      url: '/api/game/updateStatus',
      data: {
        id: id,
        status: status
      },
      success: function() {
        location.reload();
      },
      error: function() {
        alert("失敗しました");
      }
    });
  }
}

$(document).ready(function() {
  $('input.form-datepicker').each(function() {
    $(this).datepicker();
  });
});

// search
$("#search").keyup(function(){

  if ( ! $(this).val()) {
    $("#game-list tbody tr").show();
  }
  else {
    $("#game-list tbody tr").hide();
    $("#game-list tbody tr:contains(" + this.value + ")").show();
  }
});

// filter
function filter(type) {
  if ( type === 'all' ) {
    $("#game-list tbody tr").show();
  }
  else if ( type === 'own' ) {
    $("#game-list tbody tr").hide();
    $("#game-list tbody tr.own").show();
  }
  else if ( type === 'win' ) {
    $("#game-list tbody tr").hide();
    $("#game-list tbody tr.win").show();
  }
  else if ( type === 'lose' ) {
    $("#game-list tbody tr").hide();
    $("#game-list tbody tr.lose").show();
  }
}

</script>
{% endblock %}
