{% extends "layout/layout.twig" %}

{% block content %}

{% import 'game-nav.twig' as nav %}
{{ nav.header(date, team_top, team_bottom) }}
{{ nav.navigation() }}

<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
&nbsp;

<table class="table">
<tbody>

<tr>
<th>MIP</th>
<td class="MIP">
<select id="mip" name="mip" class="select2">
<option value="0">--------------------</option>
{% for member in members %}
<option value="{{member.id}}" {%if others.mip == member.id%}selected{%endif%}>{{member.name}}</option>
{%endfor%}
</select>
</td>
</tr>

</tbody>
</table>

<button class="btn btn-success" onClick="post_other(true);">登録</button>

{#div class="col-md-6"#}</div>
<div class="col-md-3"></div>
{#div class="row"#}</div>


{% endblock %}



{% block css %}
{{ parent() }}
<link href="/select2/select2.css" rel="stylesheet">
{% endblock %}

{% block js %}
{{ parent() }}
{% include 'game-js.twig' %}
<script>
$(document).ready(function() {
    setTimeout("autosave('batter');", 30000);
});
</script>
{% endblock %}
