{% extends "layout/layout.twig" %}

{% block content %}

{% import 'game-nav.twig' as nav %}
{{ nav.header(date, team_top, team_bottom) }}
{{ nav.navigation() }}

<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
&nbsp;

<table class="table">
<tbody>

<tr>
<th>MIP</th>

<td class="MIP">
<label>2ポイント</label>
<select id="mip2" name="mip" class="select2">
<option value="0">--------------------</option>
{% for member in members %}
<option value="{{member.id}}" {%if others.mip2 == member.id%}selected{%endif%}>{{member.name}}</option>
{%endfor%}
</select>
</td>

<td class="MIP">
<label>1ポイント</label>
<select id="mip1" name="mip" class="select2">
<option value="0">--------------------</option>
{% for member in members %}
<option value="{{member.id}}" {%if others.mip1 == member.id%}selected{%endif%}>{{member.name}}</option>
{%endfor%}
</select>
</td>

</tr>

{# 球場 #}
<tr>
<th>球場</th>
<td><input type="text" class="form-control" id="place" value="{{others.place}}"></td>
<td></td>
</tr>

{# memo #}
<tr>
<th>メモ</th>
<td><textarea class="form-control" id="memo">{{others.memo}}</textarea></td>
<td></td>
</tr>
</tbody>
</table>

<button class="btn btn-success" onClick="post_other(true);">登録</button>

{#div class="col-md-6"#}</div>
<div class="col-md-3"></div>
{#div class="row"#}</div>


{% endblock %}



{% block css %}
{{ parent() }}
<link href="/select2/select2.css" rel="stylesheet">
{% endblock %}

{% block js %}
{{ parent() }}
{% include 'game-js.twig' %}
<script>
$(document).ready(function() {
    setTimeout("autosave('batter');", 30000);
});
</script>
{% endblock %}
