{% extends "layout.twig" %}

{% macro inning_fraction() %}
<select class="inning fraction">
<option value="0">--</option>
{% for i in 0..3 %}
<option value="{{i}}/3">{{i}}/3</option>
{% endfor %}
</select>
{% endmacro %}

{% macro result() %}
<select class="result">
<option value=""></option>
<option value="win">勝</option>
<option value="lose">負</option>
<option value="save">セーブ</option>
<option value="hold">ホールド</option>
</select>
{% endmacro %}



{% block content %}

{% import 'game-nav.twig' as nav %}
{{ nav.navigation() }}

<table class="table">
<thead>
<tr>
<th class="name">名前</th>
<th class="number">＃</th>
<th>投球回</th>
<th>勝敗</th>
<th>自責点</th>
<th>失点</th>
</tr>
</thead>

{% set already = [] %}

{% for pitcher in players %}
{% set flag = false %}

{% for i in pitcher.position %}

{% if i == 1 and pitcher.number not in already %}
{% set flag = true %}
{% set already = already|merge([pitcher.number]) %}
{% endif %}
{% endfor %}

{% if flag == true %}
<tr>
<td>{{pitcher.name}}</td>
<td>{{pitcher.number}}</td>
<td>
<input class="inning_int" min="0" type="number">
{{_self.inning_fraction()}}
<td>{{_self.result()}}</td>
<td><input class="earned_runs" type="number" min="0"></td>
<td><input class="runs" type="number" min="0"></td>
</tr>
{% endif %}

{% endfor %}

</table>

<button class="btn btn-success" onClick="alert('korekara');">登録</button>

{% endblock content %}

{% block js %}
{{ parent() }}
{% include 'game-js.twig' %}
{% endblock %}
