{% extends "layout.twig" %}

{% macro inning_fraction(default) %}
<select class="form-control inning fraction">
<option value="0">--</option>
{% for i in 0..3 %}
{% set value = i ~ '/3' %}

{% if value == default %}
{% set selected = 'selected' %}
{% else %}
{% set selected = '' %}
{% endif %}

<option value="{{value}}" {{selected}}>{{i}}/3</option>
{% endfor %}
</select>
{% endmacro %}

{% macro result(default) %}
<select class="form-control result">
<option value="">--</option>
<option value="win" {%if default == 'win'%}selected{%endif%}>勝</option>
<option value="lose" {%if default == 'lose'%}selected{%endif%}>負</option>
<option value="save" {%if default == 'save'%}selected{%endif%}>Ｓ</option>
<option value="hold" {%if default == 'hold'%}selected{%endif%}>Ｈ</option>
</select>
{% endmacro %}



{% block content %}

{% import 'game-nav.twig' as nav %}
{{ nav.navigation() }}

<table id="pitcher" class="table">
<thead>
<tr>
<th class="name">名前</th>
<th class="number">＃</th>
<th class="result">勝敗</th>
<th class="inning" colspan="2">投球回</th>
<th class="hianda">被安打</th>
<th class="sanshin">奪三振</th>
<th class="shishikyuu">与四死球</th>
<th class="earned-runs">自責点</th>
<th class="runs">失点</th>
</tr>
</thead>
<tbody>

{% set already = [] %}

{% for player in players %}
{% set flag = false %}

{% for i in player.position if flag == false %}

{% if i == 1 and player.number not in already %}
{% set flag = true %}
{% set already = already|merge([player.number]) %}
{% endif %}
{% endfor %}

{% if flag == true %}

{% set score = pitchers[player.member_id] %}

<tr>
<td class="name">
<span>{{player.name}}</span>
<data class="member-id disable">{{player.member_id}}</data>
</td>
<td class="number">{{player.number}}</td>

{# 勝敗 #}
<td class="result">{{_self.result(score.result)}}</td>

{# 投球回 #}
<td class="inning">
<input class="inning_int form-control" min="0" type="number" value="{{score.inning_int|default(0)}}">
</td>

{# 投球回 0/3 1/3 2/3 #}
<td class="inning">
{{_self.inning_fraction(score.inning_frac)}}
</td>

{# 被安打 #}
<td class="hianda">
<input class="form-control hianda" type="number" min="0" value="{{score.hianda|default(0)}}">
</td>

{# 奪三振 #}
<td class="sanshin">
<input class="form-control sanshin" type="number" min="0" value="{{score.sanshin|default(0)}}">
</td>

{# 与四死球 #}
<td class="shishikyuu">
<input class="form-control shishikyuu" type="number" min="0" value="{{score.shishikyuu|default(0)}}">
</td>

{# 自責点 #}
<td class="earned-runs">
<input class="form-control earned-runs" type="number" min="0" value="{{score.earned_runs|default(0)}}">
</td>

{# 失点 #}
<td class="runs">
<input class="form-control runs" type="number" min="0" value="{{score.runs|default(0)}}">
</td>
</tr>
{% endif %}

{% endfor %}

</tbody>
</table>

<button class="btn btn-success" onClick="post_pitcher();">登録</button>

{% endblock content %}

{% block js %}
{{ parent() }}
{% include 'game-js.twig' %}
{% endblock %}
