{% extends 'layout/layout.twig' %}

{% block content %}

{% import 'game-nav.twig' as nav %}
{{ nav.header(date, team_top, team_bottom) }}
{{ nav.navigation(game_id, team_id) }}

<table id="score" class="table">
<thead>
<tr>
<th class="team">チーム</th>
{% for i in range(1,12) %}
<th>{{i}}</th>
{% endfor %}
<th class="sum">合計</th>
</tr>
</thead>

<tbody>

<tr>
<td class="team">{{team_top}}</td>
{% for i in range(1,12) %}
{% set k = 't' ~ i %}
{% set v = score[k] %}
<td><input type="number" class="score tscore" value="{{v}}" min="0" name="{{k}}"></td>
{% endfor %}
<td class="tsum">{{score.tsum}}</td>
</tr>

<tr>
<td class="team">{{team_bottom}}</td>
{% for i in range(1,12) %}
{% set k = 'b' ~ i %}
{% set v = score[k] %}
<td><input type="number" class="score bscore" value="{{v}}" min="0" name="{{k}}"></td>
{% endfor %}
<td class="bsum">{{score.bsum}}</td>
</tr>

</tbody>
</table>

<button class="btn btn-success" onClick="post_score(true);">登録</button>

{% endblock content %}


{% block js %}
{{parent()}}
{% include 'game-js.twig' %}

<script>

function calcsum() {

  var tscore = 0, bscore = 0;

  $('.tscore').each(function(){
    var s = parseInt($(this).val());
    tscore += isNaN(s) ? 0 : s;
  });
  $('.bscore').each(function(){
    var s = parseInt($(this).val());
    bscore += isNaN(s) ? 0 : s;
  });

  $('td.tsum').each(function(){
    $(this).text(tscore);
  });
  $('td.bsum').each(function(){
    $(this).text(bscore);
  });

  $('input.tsum').attr('value', tscore);
  $('input.bsum').attr('value', bscore);

  return true;
}

$(document).ready(function(){
  calcsum();

  $('input.score').each(function() {
      $(this).bind('click blur keydown keyup keypress change',function(){
        calcsum();
      });
  });
});
</script>
{% endblock js %}
