{% extends "layout/layout.twig" %}

{% block content %}

<div class="page-header">
<h1>Admin <small>管理者権限をもっていろいろ操作するページ</small></h1>
<ul class="nav nav-pills">
  <li class="{{active.user}}"><a href="/admin/user">利用者管理</a></li>
  <li class="{{active.player}}"><a href="/admin/player">選手管理</a></li>
  <li class="{{active.team}}"><a href="/admin/team">チーム管理</a></li>
{#
  <li class="{{active.league}}"><a href="/admin/league">リーグ管理</a></li>
#}
</ul>
</div>

{% endblock %}


{% block js %}
{{ parent() }}

<script>
$(document).ready(function(){
  // navvar active
  $('div#bms-navbar li.bms-navbar-admin').addClass('active');

  $("table[apply=datatable]").each(function() {
    $(this).dataTable();
  });
});
</script>
{% endblock %}
