<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>
        {%- block title -%}
            Baseball Management System
        {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="og:title" content="Baseball Management System">
    <meta property="og:description" content="野球の成績管理">
    <meta property="og:url" content="http://bm-s.info">
    <meta property="og:image" content="http://bm-s.info/favicon.ico">
    <meta http-equiv="content-language" content="ja">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" size="16x16">
    <link rel="apple-touch-icon" href="/favicon.ico">

    {% block css %}
    <link type="text/css" rel="stylesheet" href="/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="/twbootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/select2/select2.css">
    <link type="text/css" rel="stylesheet" href="/datepicker/css/datepicker.css">
    <link type="text/css" rel="stylesheet" href="/datatable/media/css/jquery.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="/css/bms.css">
		{% if is_mobile %}
    <link type="text/css" rel="stylesheet" href="/sidr/stylesheets/jquery.sidr.light.css">
    <link type="text/css" rel="stylesheet" href="/css/bms_mobile.css">
		{% endif %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {% endblock css %}

  </head>
  <body>

{# facebook login #}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=844531405585658&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrap">

{# header #}
<nav class="navbar navbar-default" role="navigation">

{# production以外は上部に赤い線 #}
{% if fuel_env and fuel_env != 'production' %}
<div data-env="{{ fuel_env }}">FUEL_ENV = {{ fuel_env }}</div>
{% endif %}

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <span class="navbar-brand"><a href="/"><strong>BMS</strong></a></span>
		<button type="button" id="sidr-button" class="glyphicon glyphicon-list navbar-toggle">
		</button>
    <button type="button" class="glyphicon glyphicon-cog navbar-toggle" data-toggle="collapse" data-target="#bms-navbar">
		</button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bms-navbar">
    <ul class="nav navbar-nav">
      <li><a href="/about">about</a></li>
      {% if auth_has_access('moderator.moderator') %}
      {%block li_convention %}<li>{%endblock%}<a href="/convention">大会</a></li>
        <li class="bms-navbar-admin"><a href="/admin">管理者Menu</a></li>
      {% endif %}
    </ul>

    <ul class="nav navbar-nav navbar-right">
      {% if auth_check() %}
        <li><a href="/user/info"><img id="user-icon" src="{{usericon}}" height="32" width="32"></a></li>
        <li><a href="/logout" role="logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;ログアウト</a></li>
			{% else %}
				<li><a href="/login?url={{ current_url() }}">ログイン</a></li>
      {% endif %}
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

{# flash error #}
{% if session_get_flash('error') %}
<div class="alert alert-danger alert-dismissable" role="alert-error">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<span><strong>Error!</strong> {{ session_get_flash('error') }}</span>
</div>
{% endif %}

{# flash info #}
{% if session_get_flash('info') %}
<div class="alert alert-info alert-dismissable" role="alert-info">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<span><strong>Information</strong> {{ session_get_flash('info') }}</span>
</div>
{% endif %}

{# main #}
<div class="container">
{% block content %}{% endblock %}
</div>

<div id="push"></div>
</div>{# div#wrap #}

{# footer #}
<div id="footer">
<hr>
<div><b>BMS - Baseball Management System</b></div>
<div>System Version {{config('version.version')}} / Updated at {{config('version.update_at')}}</div>
<div>&nbsp;</div>
<a href="mailto:bms-dev@googlegroups.com">お問い合わせ / フィードバック</a>
<div>&nbsp;</div>

{# stagingへの案内 #}
{% if auth_has_access('moderator.moderator') %}
<div class="alert alert-default">
go to /&nbsp;
<button class="btn btn-info btn-xs" onClick="window.location = 'http://' + location.hostname + location.pathname;">production</button>
<button class="btn btn-info btn-xs" onClick="window.location = 'http://' + location.hostname + ':8080' + location.pathname;">staging</button>
</div>
{% endif %}

</div>

</body>
</html>

{% block js %} 
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/jquery-ui/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/twbootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/select2/select2.min.js"></script>
<script type="text/javascript" src="/datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/datatable/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/bms.js"></script>
{% if is_mobile %}
<script type="text/javascript" src="/sidr/jquery.sidr.min.js"></script>
<script type="text/javascript" src="/js/bms_mobile.js"></script>
{% endif %}
{% endblock %}
