<!DOCTYPE html>
<html>
  <head>
    <title>
        {%- block title -%}
            Baseball Management System
        {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" size="16x16">

    {% block css %}
    <link href="/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
    <link href="/twbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/chosen/chosen.css" type="text/css" rel="stylesheet">
    <link href="/datepicker/css/datepicker.css" type="text/css" rel="stylesheet">
    <link href="/css/bms.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {{ css }}

    {% endblock css %}

  </head>
  <body>

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bms-navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><strong>Baseball Management System</strong></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bms-navbar">
    <ul class="nav navbar-nav">
      <li class="bms-navbar-top"><a href="/">Top</a></li>
      {%block li_game %}<li>{%endblock%}<a href="/game/list">ゲームデータ入力</a></li>
      {%block li_score%}<li>{%endblock%}<a href="/score">成績</a></li>
<!--
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
-->
      {% if has_access('admin.admin') == true %}
        <li class="bms-navbar-admin"><a href="/admin">管理者Menu</a></li>
      {% endif %}
    </ul>
<!--
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
-->

    <ul class="nav navbar-nav navbar-right">
      {% if login == true %}
        <li><a href="/user/info">{{screen_name}}</a></li>
        <li><a href="/logout">Logout</a></li>
      {% else %}
        {{ login_form }}
      {% endif %}
    </ul>
<!--
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
-->
  </div><!-- /.navbar-collapse -->
</nav>

{% if get_flash('error') %}
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Error!</strong> {{ get_flash('error') }}
</div>
{% endif %}

{% if get_flash('info') %}
<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Information</strong> {{ get_flash('info') }}
</div>

{% endif %}
<div class="container">
{% block content %}{% endblock %}
</div>

  </body>
</html>

{% block js %} 
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/jquery-ui/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/twbootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap_formhelpers/js/bootstrap-formhelpers.min.js"></script>
<script type="text/javascript" src="/datepicker/js/bootstrap-datepicker.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  // select searchable plugin
  $('select.chosen-select').each(function() {
    $(this).chosen();
  });
});
</script>
{% endblock %}
