{% extends "layout/layout.twig" %}

{% block content %}

<h1>Hello <small>野球ばか</small></h1>

<div class="row">
<div class="col-md-6">
<h3>BMS - Baseball Management System</h3>
<pre>
草野球の試合における成績管理ができるシステムです。

所属選手一人ひとりがアカウントを持つことが出来ます。
今まではチーム代表の方がスコア入力を全て担当していたと思いますが、
自分の成績を各自で入力することが可能となっています。
</pre>
</div>

<div class="col-md-6">

{# ログインしてない場合はこちら #}
{%if auth_check() %}

{%if no_belong_team%}
<h3>所属しているチームがありません</h3>
<a href="/user/team">所属チームを設定しましょう！</a>
{%else%}

<h1>最近の試合</h1>
<table class="table">
{%for game in games%}
<tr>
<td>{{game.team_top_name}}</td>
<td>{{game.tsum}} - {{game.bsum}}</td>
<td>{{game.team_bottom_name}}</td>
</tr>
{%endfor%}
</table>

{%endif%}{#if no_belong_team#}

{%else%}

<h3>ログイン</h3>
{{login_form}}
<ul>
<li><a href="/register">新規ユーザー登録はこちら</a></li>
</ul>

</div>
</div>

<div class="row">

{# 最近の試合情報 #}
<div class="col-md-4">


</div>

{# 何を出そうか #}
<div class="col-md-8">
<h1>Comming soon ...</h1>
</div>

</div>
{%endif%}


{% endblock %}
