{% extends "layout/layout.twig" %}

{% block content %}

<h1>Hello <small>野球ばか</small></h1>

{# ログインしてない場合はこちら #}
{%if auth_check() == false %}
<ul>
<li><a href="/login">ログイン</a>してください。</li>
<li>アカウントがない場合は<a href="/register">こちら</a></li>
</ul>

{%else%}
<hr>

<div class="row">

{# 最近の試合情報 #}
<div class="col-md-4">

{%if no_belong_team%}
所属しているチームがありません。
<a href="/user/team">所属チームを設定しましょう！</a>
{%else%}

<h1>最近の試合</h1>
<table class="table">
{%for game in games%}
<tr>
<td>{{game.team_top_name}}</td>
<td>{{game.tsum}} - {{game.bsum}}</td>
<td>{{game.team_bottom_name}}</td>
</tr>
{%endfor%}
</table>

{%endif%}{#if no_belong_team#}

</div>

{# 何を出そうか #}
<div class="col-md-8">
<h1>Comming soon ...</h1>
</div>

</div>
{%endif%}


{% endblock %}


{% block js %}
{{ parent() }}
<script>
$(document).ready(function(){
  $('div#bms-navbar li.bms-navbar-top').addClass('active');
});
</script>

{% endblock %}
