{% extends 'layout/layout.twig' %}

{% block content %}
<h2>{{ global.convention.name }} - 大会の詳細</h2>

<div class="row">

<div class="col-md-3">
<ul>
<li><a href="/convention/{{ global.convention.id }}/update">リーグ情報の更新</a></li>
<li><a href="/convention/{{ global.convention.id }}/team/add">参加チームの追加</a></li>
<li><a href="/convention/{{ global.convention.id }}/game/add">試合の追加</a></li>
</ul>
</div>

<div class="col-md-9">
<h3>参加チーム</h3>
{% for team in teams %}

{% if loop.first %}
<table class="table">
<thead><tr>
<th>チーム名</th>
<th>試合数</th>
<th>勝</th>
<th>負</th>
<th>分</th>
</tr></thead>
<tbody>
{% endif %}

<tr>
<td><a href="/team/{{ team.team.url_path }}">{{ team.team.name }}</a></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

{% if loop.last %}
</tbody>
</table>
{% endif %}

{% else %}{# for team in teams #}
まだ参加チームが登録されていません
{% endfor %}

<h3>試合一覧</h3>
{% for game in games %}

{% if loop.first %}
<table class="table">
<thead>
<tr>
<th>日付</th>
<th>先攻</th>
<th>スコア</th>
<th>後攻</th>
<th></th>
</tr>
</thead>

<tbody>
{% endif %}{# if loop.first #}

<tr>
<td>{{ game.date }}</td>
<td>{{ game.top }}</td>
<td>{{ game.score }}</td>
<td>{{ game.bottom }}</td>
<td><a href="/game/{{ game.id }} ">概要</a></td>
</tr>

{% if loop.last %}
</tbody>
</table>
{% endif %}

{% else %}
まだ試合が開催されていません
{% endfor %}

<h3>成績</h3>
comming soon...
</div>

</div>
{% endblock %}
