{% extends "layout/game/edit.twig" %}

{% block content %}

{# header #}
{{ parent() }}

{%for batter in metum%}

<div class="batter-stats-container {%if not loop.first%}disable{%endif%}" index="{{loop.index}}">

<data class="player-id disable">{{batter.player_id}}</data>

<table class="table batter-meta">
<thead>
<tr>
<th></th>
<th>打順</th>
<th>名前</th>
<th>背番号</th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td>
{%if not loop.first%}
<span class="glyphicon glyphicon-chevron-left" role="switch-batter" type="prev"></span>{%endif%}
</td>
<td>{{batter.order}}</td>
<td>{{batter.name}}</td>
<td>{{batter.number}}</td>
<td>
{%if not loop.last%}
<span class="glyphicon glyphicon-chevron-right" role="switch-batter" type="next"></span>{%endif%}
</td>
</tr>
</tbody>
</table>


{# 打席詳細 #}
{% set detail  = details[batter.player_id]  %}
<table class="table table-striped batter-detail">

<tr class="batter-detail-header">
<th></th>
<th>方向</th>
<th>種類</th>
<th>結果</th>
</tr>

{%for d in detail%}
<tr class="batter-detail-data" index="{{loop.index}}" player_id="{{batter.player_id}}">

{#打席#}
<td class="PA">第{{loop.index}}打席</td>

{#方向#}
<td>
<select role="direction">
<option value="0">--</option>
{%for i in 1..9%}
<option value="{{i}}" {%if i==d.direction%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>

{#種類#}
<td>
<select role="kind">
<option value="0">--</option>
<option value="1" {%if d.kind==1%}selected{%endif%}>ゴロ</option>
<option value="2" {%if d.kind==2%}selected{%endif%}>ライナー</option>
<option value="3" {%if d.kind==3%}selected{%endif%}>フライ</option>
</select>
</td>

{#結果#}
<td>
<select role="result">
<option value="0">--</option>
{%for res in results%}
<option value="{{res.id}}" {%if res.id==d.result_id%}selected{%endif%}>{{res.result}}</option>
{%endfor%}
</select>
</td>
</tr>

{%endfor%}{# for d in detail#}

{#打席追加/削除ボタン#}
<tfoot>
<tr>
<td colspan="4">
<div class="btn-group pull-left">
<button type="button" class="detail-add btn btn-info btn-xs">追加</button>
<button type="button" class="detail-del btn btn-danger btn-xs">削除</button>
</div>
</td>
</tr>
</tfoot>

</table>

{# 成績 #}
{# モバイル版では、打点・得点・盗塁・エラー、のみを表示 #}
{% set stats = hittings[batter.player_id] %}

<table class="table batter-stats">
<tbody>
<tr>

<th>打点</th>
<td>
<select role="RBI">
{%for i in 0..20%}
<option value="{{i}}" {%if i==stats.RBI%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>

<th>得点</th>
<td>
<select role="R">
{%for i in 0..20%}
<option value="{{i}}" {%if i==stats.R%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>

</tr>
<tr>

<th>盗塁</th>
<td>
<select role="SB">
{%for i in 0..20%}
<option value="{{i}}" {%if i==stats.SB%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>

<th>エラー</th>
<td>
<select role="E">
{%for i in 0..20%}
<option value="{{i}}" {%if i==fieldings[batter.player_id].E%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>

</tr>
</tbody>
</table>

</div>{# class="batter-stats-container" #}

{%endfor%}

{# 保存/决定ボタン #}
<div class="batter-stats-post">
<button type="button" class="btn btn-default" post_type="save">保存</button>
<button type="button" class="btn btn-success" post_type="complete">决定</button>
</div>

{# PC版ここから #}

<table id="batter" class="table">
<thead>
<tr>
<th class="member-id disable">member_id</th>
<th class="order">打順</th>
<th class="name">名前</th>
<th class="number">＃</th>
<th class="detail"><button class="btn btn-default btn-xs" onClick="toggle_detail('all');">全て開く/閉じる</button></th>
<th>打席数</th>
<th>打数</th>
<th>安打</th>
<th>二塁打</th>
<th>三塁打</th>
<th>本塁打</th>
<th>三振</th>
<th>四球</th>
<th>死球</th>
<th>犠打</th>
<th>犠飛</th>
<th>打点</th>
<th>得点</th>
<th>盗塁</th>
<th>エラー</th>
</thead>

{% for batter in metum %}
<tr class="result result-{{loop.index}}">
<td class="member-id disable">{{batter.player_id|default(0)}}</td>
<td class="order">{%if batter.order != 0%}{{batter.order}}{%endif%}</td>
<td class="name">{{batter.name}}</td>
<td class="number">{{batter.number}}</td>
{%if batter.number == '' %}
<td class="detail"></td>
{%else%}
<td class="detail">
<button class="btn btn-info btn-sm" onclick="toggle_detail({{loop.index}});">
打席詳細入力
</button>
</td>
{%endif%}

{% set hitting = hittings[batter.player_id] %}
{% set detail  = details[batter.player_id]  %}

<td class="seiseki daseki">{{hitting.TPA}}</td>
<td class="seiseki dasuu">{{hitting.AB}}</td>
<td class="seiseki anda">{{hitting.H}}</td>
<td class="seiseki niruida">{{hitting['2B']}}</td>
<td class="seiseki sanruida">{{hitting['3B']}}</td>
<td class="seiseki honruida">{{hitting.HR}}</td>
<td class="seiseki sanshin">{{hitting.SO}}</td>
<td class="seiseki yontama">{{hitting.BB}}</td>
<td class="seiseki shikyuu">{{hitting.HBP}}</td>
<td class="seiseki gida">{{hitting.SAC}}</td>
<td class="seiseki gihi">{{hitting.SF}}</td>

<td class="daten"><input type="number" value="{{hitting.RBI}}" min="0"></td>
<td class="tokuten"><input type="number" class="" value="{{hitting.R}}" min="0"></td>
<td class="steal"><input type="number" class="" value="{{hitting.SB}}" min="0"></td>
<td class="error"><input type="number" class="" value="{{fieldings[batter.player_id].E}}" min="0"></td>
</tr>


{%if batter.number != '' %}
<tr class="disable detail detail-{{loop.index}}">
<th colspan="4"></th>
<th colspan="3">方向</th>
<th colspan="3">種類</th>
<th colspan="3">結果</th>
<th colspan="6"></th>
</tr>

{# 打席詳細の中身 #}
{% import 'game/batter-detail-macro.twig' as detail_macro %}

{# 打席情報がなければ #}
{% if detail|length == 0 %}
<tr class="result disable detail detail-{{loop.index}}">
{{ detail_macro.meta(batter.player_id, 1, true) }}
{{ detail_macro.direction(0) }}
{{ detail_macro.kind(0) }}
{{ detail_macro.result(results, 0) }}
<td colspan="6"></td>
</tr>
{% else %}
  {# 打席情報があればループ #}
  {% for d in detail %}
  <tr class="result disable detail detail-{{loop.parent.loop.index}}">
  {{ detail_macro.meta(batter.player_id, loop.index, loop.last) }}
  {{ detail_macro.direction(d.direction) }}
  {{ detail_macro.kind(d.kind) }}
  {{ detail_macro.result(results, d.result_id) }}
  <td colspan="6"></td>
  </tr>
  {% endfor %}

{% endif %}
{%endif%}{#if batter.number != '' #}

{% endfor %}
</table>

<button class="btn btn-default" onClick="post_batter(true);">保存</button>
<button class="btn btn-success" onClick="post_batter(true, true);">决定</button>


{% endblock content %}

{% block js %}

{{ parent() }}

<script type="text/javascript" src="/js/game/edit_mobile.js"></script>

<script>
$(document).ready(function() {
    setTimeout("autosave('batter');", 30000);
});
</script>
{% endblock %}


{%block css%}
{{parent()}}

<style>
.container, #footer {
  font-size: x-small;
}
</style>
{%endblock css%}
