{% extends "layout/game/edit_mobile.twig" %}

{% block content %}

{# header #}
{{ parent() }}

<table class="table">

<thead>
</thead>

<tbody>

<tr>
<th>MIP<br>2ポイント</th>

<td class="MIP">
<select id="mip2" name="mip" class="select2">
<option value="0">--------------------</option>
{% for player in players %}
<option value="{{player.id}}" {%if others.mip2 == player.id%}selected{%endif%}>{{player.number}}:{{player.name}}</option>
{%endfor%}
</select>
</td>

</tr>

<tr>
<th>MIP<br>1ポイント</th>

<td class="MIP">
<select id="mip1" name="mip" class="select2">
<option value="0">--------------------</option>
{% for player in players %}
<option value="{{player.id}}" {%if others.mip1 == player.id%}selected{%endif%}>{{player.number}}:{{player.name}}</option>
{%endfor%}
</select>
</td>

</tr>

{# 球場 #}
<tr>
<th>球場</th>
<td><input type="text" class="form-control" id="place" value="{{others.place}}"></td>
<td></td>
</tr>

{# memo #}
<tr>
<th>メモ</th>
<td><textarea class="form-control" id="memo">{{others.memo}}</textarea></td>
<td></td>
</tr>

{# 試合ステータス #}
<tr>
<th>ステータス</th>
<td>
<select id="status" name="status" class="form-control"> 
<option value="0" {%if game_status == 0%}selected{%endif%}>試合登録のみ</option>
<option value="1" {%if game_status == 1%}selected{%endif%}>成績入力中</option>
<option value="2" {%if game_status == 2%}selected{%endif%}>成績入力完了</option>
</select>
</td>
<td></td>
</tr>

</tbody>
</table>

<div class="stats-post" role="other">
<button class="btn btn-success">登録</button>
</div>

<hr>

<ul>
<li><a href="javascript:void(0);" onClick="remind_mail();">成績入力のリマインドをメールで送信</a>
</ul>

{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
var remind_mail = function() {

  if ( confirm("成績入力の完了していない人にメールを送信します。") ) {
    $.ajax({
      url: "/api/mail/remind",
      type: "POST",
      data: {
        game_id: $("data#game_id").text(),
        team_id: $("data#team_id").text(),
      },
      success: function() {
        alert("メールを送信しました。");
      },
      error: function(res) {
        var text = res.responseText;
        if ( text ) {
          alert(text);
        } else {
          alert("システムエラーが発生しました。");
        }
      }
    });
  }
};
</script>
{% endblock %}
