{% extends "layout/game/edit.twig" %}

{% block content %}

{# header #}
{{ parent() }}

<br>
<div class="stats-container" index="{{loop.index}}">


{%for player in metum%}
{%set stat = stats[player.player_id]%}

<div class="panel panel-default">
<table class="table pitching-stats" player_id="{{player.player_id}}">

<thead>
</thead>

<tbody>

<tr>
<td>
{%if not loop.first%}
<a href="#">
<span class="btn btn-info btn-xs glyphicon glyphicon-arrow-up"></span>
</a>
{%endif%}
</td>
<td>{%if loop.first%}先発{%else%}{{loop.index}}番手{%endif%}</td>
<td>{{player.name}}</td>
<td>{{player.number}}</td>
</tr>

<tr>
<th>勝敗</th>
<td>
<select role="result">
<option value=""></option>
<option value="win"  {%if stat.W  %}selected{%endif%}>勝</option>
<option value="lose" {%if stat.L  %}selected{%endif%}>負</option>
<option value="save" {%if stat.SV %}selected{%endif%}>Ｓ</option>
<option value="hold" {%if stat.HLD%}selected{%endif%}>Ｈ</option>
</select>
</td>
<th>投球回</th>
<td>
<select role="IP">
{%for i in 0..20%}
<option value="{{i}}" {%if stat.IP == i%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
<select role="IP_frac">
<option value=""></option>
{%for i in 0 .. 2%}
<option value="{{i}}/3" {%if stat.IP_frac == i~'/3'%}selected{%endif%}>{{i}}/3</option>
{%endfor%}
</select>
</td>
</tr>

</tbody>

<tr>
<th>被安打</th>
<td>
<select role="H">
{%for i in 0 .. 40%}
<option value="{{i}}" {%if stat.H == i%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>
<th>奪三振</th>
<td>
<select role="SO">
{%for i in 0 .. 40%}
<option value="{{i}}" {%if stat.SO == i%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>
</tr>

<tr>
<th>四球</th>
<td>
<select role="BB">
{%for i in 0 .. 40%}
<option value="{{i}}" {%if stat.BB == i%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>
<th>死球</th>
<td>
<select role="HB">
{%for i in 0 .. 40%}
<option value="{{i}}" {%if stat.HB == i%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>
</tr>

<tr>
<th>自責点</th>
<td>
<select role="ER">
{%for i in 0 .. 40%}
<option value="{{i}}" {%if stat.ER == i%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>
<th>失点</th>
<td>
<select role="R">
{%for i in 0 .. 40%}
<option value="{{i}}" {%if stat.R == i%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>
</tr>

</table>{# class="table pitching-stats" #}
</div>{# class="panel panel-default" #}
{%endfor%}

</div>{# class="stats-container" #}

{# 保存/决定ボタン #}
<div class="stats-post" role="pitching">
<button type="button" class="btn btn-default" post_type="save">保存</button>
<button type="button" class="btn btn-success" post_type="complete">决定</button>
</div>

{% endblock content %}


{% block js %}
{{ parent() }}
<script type="text/javascript" src="/js/game/edit_mobile.js"></script>
{% endblock js%}

{%block css%}
{{parent()}}
<link rel="stylesheet" type="text/css" href="/css/bms_mobile.css">
{%endblock css%}
