{% extends "layout/game/edit.twig" %}

{% block content %}

{# header #}
{{ parent() }}

<div class="stats-container">

<table class="table player-table">

<thead>
<tr>
<th>打順</th>
<th>守備</th>
<th>名前</th>
<th></th>
</tr>
</thead>

{%for player in metum%}
<tr>

{# 打順 #}
<td>{%if player.order != 0%}{{player.order}}{%endif%}</td>

{# 守備 #}
<td>
{%for position in player.position%}
<div class="player-position">
<select>
{%for i in ['',1,2,3,4,5,6,7,8,9,'D','H','R']%}
<option value="{{i}}" {%if position == i%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</div>
{%endfor%}
</td>

{# 名前 #}
<td>
<select class="select2">
{%for p in players%}
<option value="{{p.id}}" {%if p.id == player.id%}selected{%endif%}>{{p.number}}:{{p.name}}</option>
{%endfor%}
</select>
</td>

{# 交代/削除ボタン #}
<td>
<div><button class="btn btn-info btn-xs">交代</button></div>
{# 交代された選手かどうかはorderで判断している #}
{%if player.order == 0%}
<div><button class="btn btn-danger btn-xs">削除</button></div>
{%endif%}
</td>
</tr>
{%endfor%}

{# 選手の追加/削除 #}
<tr>
<td colspan="4">
<div class="btn-group pull-left">
<button class="btn btn-info btn-xs">追加</button>
<button class="btn btn-danger btn-xs">削除</button>
</div>
</td>
</tr>

</table>

</div>

<table id="player" class="table">

<thead>
<tr>
<th class="change"></th>
<th class="order">打順</th>
<th class="name">名前</th>
<th class="number">＃</th>
<th class="position">ポジション1</th>
<th class="position">ポジション2</th>
<th class="position">ポジション3</th>
<th class="position">ポジション4</th>
</tr>
</thead>

<tbody>
{% for meta in metum %}
<tr class="player-tr">
<td class="change">
<button onClick="add_order(this);" class="btn btn-info btn-xs add-order">交代</button>
{% if meta.order == 0 or ( meta.order > 9 and loop.last ) %}
<button onClick="delete_order(this, '{{loop.last}}');" class="btn btn-danger btn-xs delete-order">削除</button>
{% endif %}
</td>
<td class="order">{{- meta.order -}}</td>
<td class="member_id">{{_self.name_select(members, meta.player_id)}}</td>
<td class="number">{{ meta.number }}</td>
{% for pos in meta.position%}
<td class="position">{{_self.position_select(pos)}}</td>
{%endfor%}
</tr>
{% endfor %}

<tr>
<td><button onClick="add_order(this, 'last');" class="btn btn-info btn-xs">追加</button>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>

</tbody>
</table>

{# 背番号データ #}
{% for member in members %}
<data id="number-{{member.id}}" class="disable">{{member.number}}</data>
{% endfor %}

{# 登録ボタン #}
<div>
<button onClick="post_player(true);" class="btn btn-success">登録</button>
</div>


{% endblock %}


{% block js %}
{{ parent() }}
<script type="text/javascript" src="/js/game/edit_mobile.js"></script>
{% endblock %}

{%block css%}
{{parent()}}
<link rel="stylesheet" type="text/css" href="/css/bms_mobile.css">
{%endblock css%}

{% macro name_select(members, id) %}
<select class="member_id select2" onChange="update_number(this);">
<option value="0">--------------------</option>
{% for member in members %}
<option value="{{member.id}}" {%if member.id == id%}selected{%endif%}>{{member.name}}[{{member.number}}]</option>
{% endfor %}
</select>
{% endmacro %}


{% macro position_select(p) %}
<select class="position">
<option value="0" selected>--</option>
{% for i in 1..9 %}
<option value="{{i}}" {%if i==p%}selected{%endif%}>{{i}}</option>
{% endfor %}

{% for i in ['D','H','R'] %}
<option value="{{i}}" {%if i==p%}selected{%endif%}>{{i}}</option>
{% endfor %}
</select>
{% endmacro %}

