{% extends 'layout/game/edit_mobile.twig' %}

{% block content %}

{# header #}
{{ parent() }}

<table class="table table-bordered" role="score">

<thead>
<tr>
<th class="width-20">
<th class="width-40"><p>先攻</p>{{team_top}}</th>
<th class="width-40"><p>後攻</p>{{team_bottom}}</th>
</tr>
</thead>

<tbody>
{%for score in scores%} 
<tr>
<th data-type="inning">{{loop.index}}</th>
<td>
<select data-type="score_top">
<option></option>
{%for i in range(0,40)%}
<option value="{{i}}" {%if score.top == i~''%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>

<td>
<select data-type="score_bottom">
<option value=""></option>
{%for i in range(0,40)%}
<option value="{{i}}" {%if i == score.bottom%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>

</tr>
{%endfor%}
</tbody>

<tfoot>
<tr>
<th>R</th>
<th data-type="score_top_sum">{{tsum}}</th>
<th data-type="score_bottom_sum">{{bsum}}</th>
</tr>
</tfoot>
</table>

<div class="stats-post" role="score">
<button type="button" class="btn btn-success">登録</button>
</div>

{% endblock content %}


{% block js %}

{{parent()}}

<script>

function calcsum() {

  var tscore = 0, bscore = 0;

  $('.tscore').each(function(){
    var s = parseInt($(this).val());
    tscore += isNaN(s) ? 0 : s;
  });
  $('.bscore').each(function(){
    var s = parseInt($(this).val());
    bscore += isNaN(s) ? 0 : s;
  });

  $('td.tsum').each(function(){
    $(this).text(tscore);
  });
  $('td.bsum').each(function(){
    $(this).text(bscore);
  });

  $('input.tsum').attr('value', tscore);
  $('input.bsum').attr('value', bscore);

  return true;
}

$(document).ready(function(){
  calcsum();

  $('input.score').each(function() {
      $(this).bind('click blur keydown keyup keypress change',function(){
        calcsum();
      });
  });
});
</script>
<script type="text/javascript" src="/js/game/edit_mobile.js"></script>
{% endblock js %}

{%block css%}
{{parent()}}
<link rel="stylesheet" type="text/css" href="/css/bms_mobile.css">
{%endblock css%}
