{% extends 'layout/game/edit_mobile.twig' %}

{% block content %}

{# header #}
{{ parent() }}

<table class="table table-bordered" role="score">

<thead>
<tr>
<th class="width-20">
<th class="width-40"><p>先攻</p>{{team_top}}</th>
<th class="width-40"><p>後攻</p>{{team_bottom}}</th>
</tr>
</thead>

<tbody>
{%for score in scores%} 
<tr>
<th data-type="inning">{{loop.index}}</th>
<td>
<select data-type="score_top">
<option></option>
{%for i in range(0,40)%}
<option value="{{i}}" {%if score.top == i~''%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>

<td>
<select data-type="score_bottom">
<option></option>
{%for i in range(0,40)%}
<option value="{{i}}" {%if score.bottom == i~''%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>

</tr>
{%endfor%}
</tbody>

<tfoot>

{# スコア追加/削除ボタン #}
<tr>
<td colspan="3">
<div class="btn-group">
<button type="score-add" class="btn btn-info btn-xs">追加</button>
<button type="score-del" class="btn btn-danger btn-xs">削除</button>
</div>
</td>
</tr>

<tr class="active">
<th>R</th>
<th data-type="score_top_sum">{{tsum}}</th>
<th data-type="score_bottom_sum">{{bsum}}</th>
</tr>
</tfoot>
</table>

<div class="stats-post" role="score">
<button type="button" class="btn btn-success">登録</button>
</div>

{% endblock content %}


{% block js %}
{{parent()}}
<script type="text/javascript" src="/js/game/score.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  calcsum();

  $("table[role=score] tbody select").change(function() {
    calcsum();
  });
});
</script>
{% endblock js %}
