{% extends 'layout/game/edit_mobile.twig' %}

{% block content %}

{# header #}
{{ parent() }}

<table class="table table-bordered" role="score">

<thead>
<tr>
<th class="width-20">
<th class="width-40"><p>先攻</p>{{team_top}}</th>
<th class="width-40"><p>後攻</p>{{team_bottom}}</th>
</tr>
</thead>

<tbody>
{%for i in range(1,12)%} 
<tr>
<th data-type="inning">{{loop.index}}</th>
<td>
<select data-type="score_top">
<option value=""></option>
{%for j in range(0,40)%}
<option value="{{j}}" {%if j==score['t'~i]%}selected{%endif%}>{{j}}</option>
{%endfor%}
</select>
</td>

<td>
<select data-type="score_bottom">
<option value=""></option>
{%for j in range(0,40)%}
<option value="{{j}}" {%if j==score['b'~i]%}selected{%endif%}>{{j}}</option>
{%endfor%}
</select>
</td>

</tr>
{%endfor%}
</tbody>

<tfoot>
<tr>
<th>R</th>
<th data-type="score_top_sum">{{score.tsum}}</th>
<th data-type="score_bottom_sum">{{score.bsum}}</th>
</tr>
</tfoot>
</table>

<div class="stats-post" role="score">
<button type="button" class="btn btn-success">登録</button>
</div>

<table id="score" class="table">
<thead>
<tr>
<th class="team">チーム</th>
{% for i in range(1,12) %}
<th>{{i}}</th>
{% endfor %}
<th class="sum">合計</th>
</tr>
</thead>

<tbody>

<tr>
<td class="team">{{team_top}}</td>
{% for i in range(1,12) %}
{% set k = 't' ~ i %}
{% set v = score[k] %}
<td><input type="number" class="score tscore" value="{{v}}" min="0" name="{{k}}"></td>
{% endfor %}
<td class="tsum">{{score.tsum}}</td>
</tr>

<tr>
<td class="team">{{team_bottom}}</td>
{% for i in range(1,12) %}
{% set k = 'b' ~ i %}
{% set v = score[k] %}
<td><input type="number" class="score bscore" value="{{v}}" min="0" name="{{k}}"></td>
{% endfor %}
<td class="bsum">{{score.bsum}}</td>
</tr>

</tbody>
</table>

<button class="btn btn-success" onClick="post_score(true);">登録</button>

{% endblock content %}


{% block js %}

{{parent()}}

<script>

function calcsum() {

  var tscore = 0, bscore = 0;

  $('.tscore').each(function(){
    var s = parseInt($(this).val());
    tscore += isNaN(s) ? 0 : s;
  });
  $('.bscore').each(function(){
    var s = parseInt($(this).val());
    bscore += isNaN(s) ? 0 : s;
  });

  $('td.tsum').each(function(){
    $(this).text(tscore);
  });
  $('td.bsum').each(function(){
    $(this).text(bscore);
  });

  $('input.tsum').attr('value', tscore);
  $('input.bsum').attr('value', bscore);

  return true;
}

$(document).ready(function(){
  calcsum();

  $('input.score').each(function() {
      $(this).bind('click blur keydown keyup keypress change',function(){
        calcsum();
      });
  });
});
</script>
<script type="text/javascript" src="/js/game/edit_mobile.js"></script>
{% endblock js %}

{%block css%}
{{parent()}}
<link rel="stylesheet" type="text/css" href="/css/bms_mobile.css">
{%endblock css%}
