{% extends "layout/team/game/edit.twig" %}

{% macro name_select(players, id) %}
<select class="player_id select2" onChange="update_number(this);">
<option value="0">--------------------</option>
{% for player in players %}
<option value="{{player.id}}" {%if player.id == id%}selected{%endif%}>#{{player.number}} {{player.name}}</option>
{% endfor %}
</select>
{% endmacro %}


{% macro position_select(p) %}
<select class="position">
<option value="0" selected>--</option>
{% for i in 1..9 %}
<option value="{{i}}" {%if i==p%}selected{%endif%}>{{i}}</option>
{% endfor %}

{% for i in ['D','H','R'] %}
<option value="{{i}}" {%if i==p%}selected{%endif%}>{{i}}</option>
{% endfor %}
</select>
{% endmacro %}


{% block main %}
{% include "header/team/game/edit.twig" %}

<table id="player" class="table">

<thead>
<tr>
<th class="change"></th>
<th class="order">打順</th>
<th class="name">名前</th>
<th class="number">＃</th>
<th class="position">ポジション1</th>
<th class="position">ポジション2</th>
<th class="position">ポジション3</th>
<th class="position">ポジション4</th>
<th class="position">ポジション5</th>
<th class="position">ポジション6</th>
</tr>
</thead>

<tbody>
{% for played in playeds %}
<tr class="player-tr" {%if played.order != 0%}played="starter"{%endif%}>
<td class="change">
<button onClick="add_order(this);" class="btn btn-info btn-xs add-order">交代</button>
{% if played.order == 0 or ( played.order > 9 and loop.last ) %}
<button onClick="delete_order(this, '{{loop.last}}');" class="btn btn-danger btn-xs delete-order">削除</button>
{% endif %}
</td>
<td class="order">{%if played.order != 0%}{{- played.order -}}{%endif%}</td>
<td class="player_id">{{_self.name_select(players, played.player_id)}}</td>
<td class="number">{{ played.number }}</td>
{%for i in 0..5%}
{%set pos = played.position[i]%}
<td class="position">{{_self.position_select(pos)}}</td>
{%endfor%}
</tr>
{% endfor %}

<tr>
<td><button onClick="add_order(this, 'last');" class="btn btn-info btn-xs">追加</button>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>

</tbody>
</table>

{# 背番号データ TODO: いる？ #}
{% for player in players %}
<data id="number-{{player.id}}" class="disable">{{player.number}}</data>
{% endfor %}

{# 登録ボタン #}
{%if global.game.game_status == 2%}
<div class="alert alert-success">
成績入力を完了している試合です。
</div>
{%else%}
<div>
<button onClick="post_player(this);" data-status="save" class="btn btn-default">保存</button>
<button onClick="post_player(this);" data-status="complete" class="btn btn-success">登録</button>
</div>
<span>※登録すると、出場選手に成績入力を促すメールが送信されます</span>
{%endif%}


{% endblock main %}
