<tr class="batter-detail-data" index="{{loop.index}}" player_id="{{batter.player_id}}">

{#打席#}
<td class="PA">第{{loop.index}}打席</td>

{#方向#}
<td>
<select role="direction">
<option value="0">--</option>
{%for i in 1..9%}
<option value="{{i}}" {%if i==d.direction%}selected{%endif%}>{{i}}</option>
{%endfor%}
</select>
</td>

{#種類#}
<td>
<select role="kind">
<option value="0">--</option>
<option value="1" {%if d.kind==1%}selected{%endif%}>ゴロ</option>
<option value="2" {%if d.kind==2%}selected{%endif%}>ライナー</option>
<option value="3" {%if d.kind==3%}selected{%endif%}>フライ</option>
</select>
</td>

{#結果#}
<td>
<select role="result">
<option value="0">--</option>
{%for res in results%}
<option value="{{res.id}}" {%if res.id==d.result_id%}selected{%endif%}>{{res.result}}</option>
{%endfor%}
</select>
</td>
</tr>
