<table class="table">

<thead>
<tr>

<th class="disable">id</th>
<th>名前</th>
<th>背番号</th>
<th>所属チーム</th>
<th></th>
</tr>
</thead>

<tbody>
{% for member in members %}
<tr>
<td class="disable">{{ member.id }}</td>
<td>{{ member.name }}</td>
<td>{{ member.number }}</td>
<td>{{ member.teams.name }}</td>
<td>
<form method="DELETE">
<input type="hidden" value="{{team.id}}">
<input type="submit" class="btn btn-danger" value="削除">
</form>
</td>
</tr>
{% endfor %}
</tbody>
